.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}




body{
    margin: 0;
    padding: 0;
    color: lightgray;
}

.mainContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
    align-items: center;
}

.bg-video{
    right: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
    mix-blend-mode: overlay;
}


header{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(10px);
    padding: 0 30px;
    box-shadow: 0 0 15px, #72a1de;
    z-index: 999;
}

.left{
    display: flex;
    align-items: center;
}

.left img{
    width: 50px;
    margin: 0 15px;
}

header ul{
    display: flex;
    padding: 15px 15px;
    justify-content: space-between;
    width: 30%;
    border-radius: 50px;
    background-color: rgba(0,0,69, 0.30);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #727fde65;
    transition: 0.3s;
}

header ul:hover{
    filter: brightness(90%);
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    margin: 0 10px;
    font-weight: 700;
    color: white;
    transition: 0.3s;
}

header ul li a:hover{
    filter: brightness(150%);
    text-shadow: 0 0 15px white;
}

.social{
    display: flex;
    gap: 40px;
}

.social a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 35px;
    width: 35px;
    border: 2px solid #727fde;
    text-decoration: none;
    color: lightgrey;
    border-radius: 50%;
    transition: 0.3s;
}

.social a:hover{
    background-color: #727fde;
    color: black;
    font-size: 30px;
    box-shadow: 0 0 15px #727fde6f;
}

.header-blackhole{
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    mix-blend-mode: lighten;
}

.header-blackhole video{
    width: 100%;
    margin-top: -23.5%;
}



@media (max-aspect-ratio: 16/9) {
    .bg-video{
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9) {
    .bg-video{
        width: 100%;
        height: auto;
    }
}